<!DOCTYPE html>
<html lang="en">
<head>
    <title>OWS - 403</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <style>
        .toggle.android { border-radius: 0px;}
        .toggle.android .toggle-handle { border-radius: 0px; }
        .wrapper {margin-right: auto; margin-left: auto; max-width: 80%; padding-right: 4%; padding-left: 4%;   min-height: calc(100vh);}
        #grad{
            background-image: linear-gradient(to top right, #2b3199, rgb(63, 211, 207));
            background-repeat: no-repeat;
            height: 300%;
        }
        #footer{
            margin-top: 3%;
        }
        #nav{
            border-radius: 4px;
        }
        #body{

        }
    </style>
</head>
<body id="grad">
<div class="wrapper">
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>OWScheduler</h1>
    <p>Overwatch Matchmaking and Scrimmage</p>
</div>

<nav id="nav" class="navbar navbar-expand-md sticky-top bg-dark navbar-dark">
    <a class="navbar-brand" href="#">OWS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'scheduler:home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'scheduler:teams' %}">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'scheduler:players' %}">Players</a>
            </li>
            {% if user.is_authenticated and user_team %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'scheduler:team_profile' teamID=user_team %}">My Team</a>
            </li>
            {% endif %}

        </ul>
        <!-- Align Right from Here-->
        <ul class="navbar-nav">
            {% if not user.is_authenticated %}
            <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
                Login
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <form method="post" action=".">
                    {% csrf_token %}
                    <table>

                        <tr>
                            <td>{{ login_form.username.label_tag }}</td>
                            <td>{{ login_form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ login_form.password.label_tag }}</td>
                            <td>{{ login_form.password }}</td>
                        </tr>
                    </table>
                    <input type="submit" class="btn btn-primary" value="Login">
                </form>
                {% if form.errors or form.non_field_errors %}
                    <p>Something went wrong here.</p>
                {% endif %}
            </div>

            <button type="button" class="btn btn-outline-light" onclick="location.href='{% url 'scheduler:register' %}'">
                Register
            </button>
        {% elif user.is_authenticated %}
            <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
            Hi, {{ user.username }}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'scheduler:account' username=user.username %}">Account</a>
                <button type="button" class = "btn btn-primary" onclick="location.href='{% url 'scheduler:user_logout' %}'">Logout</button>
            </div>
        {% endif %}
        </ul>
    </div>
</nav>

<div id="body" class="container jumbotron" >
   <div class="row">
       <div class="col-lg-12">
           <h1>
               Access Denied
           </h1>
           <h3>
                <small>
                    Nice try, buddy.
                </small>
           </h3>
       </div>
   </div>
</div>

<!-- Footer in a non footer location. Huh?-->
<div id="footer" class="jumbotron text-center" >
    <div class="row">
        <div class = "col-sm-4">
            <h3>Contact Us</h3>
            <p>[Leave some way to contact us here]</p>
        </div>
        <div class = "col-sm-4">
            <h3>[empty]</h3>
            <p>[???]</p>
        </div>
        <div class = "col-sm-4">
            <h3>Links</h3>
            <p>[links to whatever we want]</p>
        </div>
    </div>
</div>
</div>
</body>
</html>