<!DOCTYPE html>
<html lang="en">
<head>
    <title>OWS - {{ user.username }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://dal-yourlabs.rhcloud.com/static/collected/admin/js/vendor/jquery/jquery.js"></script>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>OWScheduler</h1>
    <p>Overwatch Matchmaking and Scrimmage</p>
</div>

<nav class="navbar navbar-expand-md sticky-top bg-dark navbar-dark">
    <a class="navbar-brand" href="#">OWS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'scheduler:home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'scheduler:teams' %}">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'scheduler:players' %}">Players</a>
            </li>
            {% if user.is_authenticated and user_team %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'scheduler:team_profile' teamID=user_team %}">My Team</a>
            </li>
            {% endif %}

        </ul>
        <!-- Align Right from Here-->
        <ul class="navbar-nav">
            {% if not user.is_authenticated %}
            <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
                Login
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <form method="post" action=".">
                    {% csrf_token %}
                    <table>

                        <tr>
                            <td>{{ login_form.username.label_tag }}</td>
                            <td>{{ login_form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ login_form.password.label_tag }}</td>
                            <td>{{ login_form.password }}</td>
                        </tr>
                    </table>
                    <input type="submit" class="btn btn-primary" value="Login">
                </form>
                {% if form.errors or form.non_field_errors %}
                    <p>Something went wrong here.</p>
                {% endif %}
            </div>

            <button type="button" class="btn btn-outline-light" onclick="location.href='{% url 'scheduler:register' %}'">
                Register
            </button>
        {% elif user.is_authenticated %}
            <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
            Hi, {{ user.username }}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'scheduler:account' username=user.username %}">Account</a>
                <button type="button" class = "btn btn-primary" onclick="location.href='{% url 'scheduler:user_logout' %}'">Logout</button>
            </div>
        {% endif %}
        </ul>
    </div>
</nav>
<div class="container" style="margin-top:30px">
    <!--TODO: MODIFY THIS TO INCLUDE DJANGO USABILITY-->
    {% block content %}
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.media }}
            <input type="submit" class="btn btn-success"
                   value="Save Changes"/>
        </form>
    </div>
    {% endblock %}
</div>
<div>
    {% include 'scheduler/set_availability.html' %}
</div>

<!-- Footer in a non footer location. Huh?-->
<div class="jumbotron text-center" style="margin-bottom:0">
    <div class="row">
        <div class = "col-sm-4">
            <h3>Contact Us</h3>
            <p>[Leave some way to contact us here]</p>
        </div>
        <div class = "col-sm-4">
            <h3>[empty]</h3>
            <p>[???]</p>
        </div>
        <div class = "col-sm-4">
            <h3>Links</h3>
            <p>[links to whatever we want]</p>
        </div>
    </div>
</div>
</body>
</html>


