<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'scheduler/default.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <title>OWS - Register</title>
</head>
<body id="grad">
<div class="wrapper">
    <div id="header" class=" text-center" >
                {% load static %} <img src=" {% static "media/logo.png" %}" style="width: 30%; height: 30%"/>
    </div>
    <nav id="nav" class="navbar navbar-expand-md sticky-top bg-dark navbar-dark" >
        <a class="navbar-brand" href="#">OWS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'scheduler:home' %}">Home</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="body" class="container-fluid jumbotron">
    <h2>New User</h2>
    <!--- this form should eventually action url to home or to login page --->
    <form autocomplete="off" action="{% url 'register' %}" method="post">
        {%  csrf_token %}
        <table>
             <tr>
                <td>{{ form.email.label_tag }}</td>
                <td>{{ form.email }}</td>
                {% if form.email.errors %}
                    <td>{{ form.email.errors }}</td>
                {% endif %}
            </tr>
             <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
                {% if form.username.errors %}
                    <td>{{ form.username.errors }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>{{ form.battlenetID.label_tag }}</td>
                <td>{{ form.battlenetID }}</td>
                {% if form.battlenetID.errors %}
                    <td>{{ form.battlenetID.errors }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>{{ form.password1.label_tag }}</td>
                <td>{{ form.password1 }}</td>
                {% if form.password1.errors %}
                    <td>{{ form.password1.errors }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>{{ form.password1.help_text }}</td>
            </tr>
            <tr>
                <td>{{ form.password2.label_tag }}</td>
                <td>{{ form.password2 }}</td>
                {% if form.password2.errors %}
                    <td>{{ form.password2.errors }}</td>
                {% endif %}
            </tr>
            {% for message in messages %}
                <tr>
                <td>{{ message }}</td>
                </tr>
            {% endfor %}
            {% for error in form.non_field_errors %}
                <tr>
                    <td class="form-error">{{ error }}</td>
                </tr>
            {% endfor %}
        </table>
        <div id="form-submit-container">
            <button class="btn btn-primary" type="submit" id="form-submit">Sign Up</button>
        </div>
    </form>
</div>
<div id="footer" class="jumbotron text-center" >
    <div class="row">
        <div class = "col-sm-4">
            <h3>Contact Us</h3>
            <p>[Leave some way to contact us here]</p>
        </div>
        <div class = "col-sm-4">
            <h3>[empty]</h3>
            <p>[???]</p>
        </div>
        <div class = "col-sm-4">
            <h3>Links</h3>
            <p>[links to whatever we want]</p>
        </div>
    </div>
</div>
</div>
</body>
</html>