<!DOCTYPE html>
<html lang="en">
    <form class="align-content-center" action="" method="post">
        <table class="table table-bordered">
            <thead>
            <th scope="col">Time</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
            <th scope="col">Sunday</th>
            </thead>
            <tbody>
            <tr>
                <th scope="row">0000</th>
                <td><input type="checkbox" data-on="Available" data-off ="Not Available" checked data-toggle="toggle" data-style="android" data-onstyle="primary" data-offstyle="danger"></td>
                <td><input type="checkbox" data-on="Available" data-off ="Not Available" checked data-toggle="toggle" data-style="android" data-onstyle="primary" data-offstyle="danger"></td>
                <td><input type="checkbox" data-on="Available" data-off ="Not Available" checked data-toggle="toggle" data-style="android" data-onstyle="primary" data-offstyle="danger"></td>
                <td><input type="checkbox" data-on="Available" data-off ="Not Available" checked data-toggle="toggle" data-style="android" data-onstyle="primary" data-offstyle="danger"></td>
                <td><input type="checkbox" data-on="Available" data-off ="Not Available" checked data-toggle="toggle" data-style="android" data-onstyle="primary" data-offstyle="danger"></td>
                <td><input type="checkbox" data-on="Available" data-off ="Not Available" checked data-toggle="toggle" data-style="android" data-onstyle="primary" data-offstyle="danger"></td>
                <td><input type="checkbox" data-on="Available" data-off ="Not Available" checked data-toggle="toggle" data-style="android" data-onstyle="primary" data-offstyle="danger"></td>
            </tr>
            </tbody>
        </table>
    </form>
</html>