<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>OWS - Teams</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/fh-3.1.4/sc-2.0.0/datatables.min.css"/>
    <link rel="stylesheet" href="{% static 'scheduler/default.css' %}">
    <link rel="stylesheet" href="{% static 'scheduler/teams.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/fh-3.1.4/sc-2.0.0/datatables.min.js"></script>

</head>
<body id="grad">
<div class="wrapper">
    <div id="header" class=" text-center" >
        <h1>OWScheduler</h1>
        <p>Overwatch Matchmaking and Scrimmage</p>
    </div>

<nav class="navbar navbar-expand-md sticky-top bg-dark navbar-dark">
    <a class="navbar-brand" href="#">OWS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'scheduler:home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'scheduler:teams' %}">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'scheduler:players' %}">Players</a>
            </li>

            {% if user.is_authenticated and user_teams %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'scheduler:my_teams' username=user.username %}">My Teams</a>
            </li>
            {% else %}
                <li class="nav-item"  data-toggle="tooltip" data-placement="top" title="Log in and join a team to view this page!">
                    <a class="nav-link disabled">My Teams</a>
                </li>
            {% endif %}

        </ul>
        <!-- Align Right from Here-->
        <ul id="nav" class="navbar-nav">
            {% if not user.is_authenticated %}
            <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
                Login
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <form method="post" action=".">
                    {% csrf_token %}
                    <table>

                        <tr>
                            <td>{{ login_form.username.label_tag }}</td>
                            <td>{{ login_form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ login_form.password.label_tag }}</td>
                            <td>{{ login_form.password }}</td>
                        </tr>
                    </table>
                    <input type="submit" class="btn btn-primary" value="Login">
                </form>
                {% if form.errors or form.non_field_errors %}
                    <p>Something went wrong here.</p>
                {% endif %}
            </div>

            <button type="button" class="btn btn-outline-light" onclick="location.href='{% url 'register' %}'">
                Register
            </button>
        {% elif user.is_authenticated %}
            <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
            Hi, {{ user.username }}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'scheduler:account' username=user.username %}">Account</a>
                <button type="button" onclick="location.href='{% url 'user_logout' %}?next={{ request.path }}'">Logout</button>
            </div>
        {% endif %}
        </ul>
    </div>
</nav>

<div id="body" class="container-fluid" style="margin-top:30px">
    <h1>Teams</h1>
    <div class="row">
        <div class="col" style="margin-bottom: 1em;">
            {% if user.is_authenticated %}
            <button class="btn btn-primary" onclick="location.href='{% url 'scheduler:create_team' %}'">Create Team</button>
            {% else %}
                <button class="btn btn-primary disabled">Create Team</button>
            {% endif %}
        </div>
    </div>
    <table id="team-table" class="table table-borderless table-hover" style="margin: 1em;">
        {% if team_list %}
                <thead>
                <tr>
                    <th>Team</th>
                    <th>ID</th>
                    <th>Join/Leave Team</th>
                </tr>
                </thead>
            <tbody>
            {% for team in team_list %}
                <tr onclick="location.href='{% url 'scheduler:team_profile' teamID=team.teamID %}'">
                    <td>{{ team.teamAlias }}</td>
                    <td>{{ team.teamID }}</td>
                    {% if user.is_authenticated %}
                        {% if team not in user_teams %}
                            <td><form method="get" action="{% url 'scheduler:join_team' teamID=team.teamID username=user.username %}">
                                {% csrf_token %}
                                <button class="btn btn-success" type="submit">
                                    Join Team</button>
                            </form></td>
                        {% elif team in user_teams %}
                                <td>
                                    <form method="get" action="
{% url 'scheduler:leave_team' teamID=team.teamID username=user.username %}">
                                        {% csrf_token %}
                                    <button class="btn btn-dark" type="submit">
                                        Leave Team</button>
                                    </form>
                                </td>
                        {% elif team.players.all|length >= 50 %}
                            <td><button met class="btn btn-primary" type="submit" disabled>Team Full</button></td>
                        {% endif %}
                    {% else %}
                        <td><button met class="btn btn-primary" type="submit" disabled>Join Team</button></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        {% else %}
            <tbody>Sorry, there's nothing that matches your search.</tbody>
        {% endif %}
    </table>
     <script type="text/javascript">
                $(document).ready(function () {
                    $('#team-table').DataTable({
                        "columns": [
                            {"name": "Team", "orderable": true},
                            {"name": "ID", "orderable": true},
                            {"name": "Join/Leave Team", "orderable": false},
                        ]
                    });
                })
            </script>
</div>

<!-- Footer in a non footer location. Huh?-->
<div id="footer" class="jumbotron text-center" >
    <div class="row">
        <div class = "col-sm-4">
            <h3>Contact Us</h3>
            <p>[Leave some way to contact us here]</p>
        </div>
        <div class = "col-sm-4">
            <h3>[empty]</h3>
            <p>[???]</p>
        </div>
        <div class = "col-sm-4">
            <h3>Links</h3>
            <p>[links to whatever we want]</p>
        </div>
    </div>
</div>
</div>
</body>
</html>