<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>OWS - My Team</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/fh-3.1.4/sc-2.0.0/datatables.min.css"/>
    <link rel="stylesheet" href="{% static 'scheduler/default.css' %}">
    <link rel="stylesheet" href="{% static 'scheduler/team_profile.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/fh-3.1.4/sc-2.0.0/datatables.min.js"></script>

</head>
<body id="grad">
<div class="wrapper">
    <div id="header" class=text-center" style="margin-bottom:0">
        <h1>OWScheduler</h1>
        <p>Overwatch Matchmaking and Scrimmage</p>
    </div>

    <nav id="nav"
         class="navbar navbar-expand-md sticky-top bg-dark navbar-dark">
        <a class="navbar-brand" href="#">OWS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'scheduler:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'scheduler:teams' %}">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'scheduler:players' %}">Players</a>
                </li>
                {% if user.is_authenticated and user_teams %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'scheduler:my_teams' username=user.username %}">My Teams</a>
                    </li>
                {% else %}
                    <li class="nav-item"  data-toggle="tooltip" data-placement="top" title="Log in and join a team to view this page!">
                        <a class="nav-link disabled">My Teams</a>
                    </li>
                {% endif %}

            </ul>
            <!-- Align Right from Here-->
            <ul class="navbar-nav">
                {% if not user.is_authenticated %}
                    <button type="button"
                            class="btn btn-outline-light dropdown-toggle"
                            data-toggle="dropdown">
                        Login
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <form method="post" action=".">
                            {% csrf_token %}
                            <table>

                                <tr>
                                    <td>{{ login_form.username.label_tag }}</td>
                                    <td>{{ login_form.username }}</td>
                                </tr>
                                <tr>
                                    <td>{{ login_form.password.label_tag }}</td>
                                    <td>{{ login_form.password }}</td>
                                </tr>
                            </table>
                            <input type="submit" class="btn btn-primary"
                                   value="Login">
                        </form>
                        {% if form.errors or form.non_field_errors %}
                            <p>Something went wrong here.</p>
                        {% endif %}
                    </div>

                    <button type="button" class="btn btn-outline-light"
                            onclick="location.href='{% url 'register' %}'">
                        Register
                    </button>
                {% elif user.is_authenticated %}
                    <button type="button"
                            class="btn btn-outline-light dropdown-toggle"
                            data-toggle="dropdown">
                        Hi, {{ user.username }}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item"
                           href="{% url 'scheduler:account' username=user.username %}">Account</a>
                        <button type="button" class="btn btn-primary"
                                onclick="location.href='{% url 'user_logout' %}'">
                            Logout
                        </button>
                    </div>
                {% endif %}
            </ul>
        </div>
    </nav>


    <div id="body" class="container-fluid">
        <div class="row jumbotron">
            <div class="col">
                <div>
                    <h3>
                        {{ current_team.teamAlias }}
                    </h3>
                    <h4>
                        #{{ current_team.teamID }}
                    </h4>
                    <h10>
                        Team Admin: {{ current_team.team_admin }}
                    </h10>
                </div>
            </div>
            <div class="col">
                Players: {{ current_team.players.all|length }}<br>
                Average SR: {{ avg_sr }}<br>
            </div>
        </div>
        <div class="row">
            <div class="col-4"  id="filter-player-availability">
                <form method="post">
                    {% csrf_token %}
                    <div class="container-fluid">
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary"
                                    id="uncheck-all">Uncheck
                                All
                            </button>
                        </div>
                        <div class="col-sm-4 offset-1" style="margin: 0;">
                            <button type="button" class="btn btn-primary"
                                    id="check-all">Check
                                All
                            </button>
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function () {

                                //uncheck all players
                                $('#uncheck-all').click(function () {
                                    $("input:checkbox").prop('checked', false);
                                });

                                //check all players
                                $('#check-all').click(function () {
                                    $("input:checkbox").prop('checked', true);
                                });

                            });
                        </script>
                    </div>
                    <div class="custom-control custom-checkbox form-group">
                        <h6>Players</h6>
                        {% for player in roster %}
                            <div class="form-check">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       name="selected_user"
                                       id="{{ player }}_checkbox"
                                       value="{{ player }}">
                                <label class="custom-control-label"
                                       for="{{ player }}_checkbox">{{ player }}</label>
                            </div>
                        {% endfor %}
                        <script type="text/javascript">
                            {% if selected_players %}
                                {% for player in selected_players %}
                                    document.getElementById("{{ player }}_checkbox").checked = true;
                                {% endfor %}
                            {% endif %}
                        </script>
                    </div>
                    <button type="submit" class="btn btn-primary" style="display:
            block;">Filter Schedule
                    </button>
                    </div>
                </form>
            </div>
            <div class="col-7 offset-1" id="availability-table">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th>Day</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for timeslot in selected_times %}
                        <tr>
                            <td>
                                {% if timeslot.dayOfWeek == 0 %}
                                    Monday
                                {% elif timeslot.dayOfWeek == 1 %}
                                    Tuesday
                                {% elif timeslot.dayOfWeek == 2 %}
                                    Wednesday
                                {% elif timeslot.dayOfWeek == 3 %}
                                    Thursday
                                {% elif timeslot.dayOfWeek == 4 %}
                                    Friday
                                {% elif timeslot.dayOfWeek == 5 %}
                                    Saturday
                                {% elif timeslot.dayOfWeek == 6 %}
                                    Sunday
                                {% endif %}
                            </td>
                            <td>
                                {{ timeslot.hour }}:00
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="roster-table">
                <table id="team-players" class="table table-hover table-borderless" style="width: 100%;">
                    <thead>
                        <th>Battlenet ID</th>
                        <th>Role</th>
                        <th>SR</th>
                        <th>University</th>
                    </thead>
                    <tbody>
                    {% for player in roster %}
                        <tr onclick="location.href='{% url 'scheduler:player_profile' username=player.username %}'">
                            <td>{{ player.battlenetID }}</td>
                            <td>{{ player.role }}</td>
                            <td>{{ player.skillRating }}</td>
                            <td>{{ player.university }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <script>
                    $(document).ready(function () {
                        $('#team-players').DataTable({
                            "scrollX": true
                        });
                    })
                </script>
            </div>
        </div>
    </div>

    <!-- Footer in a non footer location. Huh?-->
    <div id="footer" class="jumbotron text-center">
        <div class="row">
            <div class="col-sm-4">
                <h3>Contact Us</h3>
                <p>[Leave some way to contact us here]</p>
            </div>
            <div class="col-sm-4">
                <h3>[empty]</h3>
                <p>[???]</p>
            </div>
            <div class="col-sm-4">
                <h3>Links</h3>
                <p>[links to whatever we want]</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>