<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>OWS - Teams</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'scheduler/default.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/change_password.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>

<body id="grad">
<div class="wrapper">
    <div id="header" class="text-center" >
        <h1>OWScheduler</h1>
        <p>Overwatch Matchmaking and Scrimmage</p>
    </div>

    <div id="body" class="container text-center">
        <h1 style="margin-bottom: 1em;">Change Password</h1>
        <h6>Your password has been changed successfully.</h6>
        <a class="btn btn-link" href="{% url 'scheduler:home' %}">Go to home page</a>
    </div>
</div>