<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>OWS - Teams</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'scheduler/default.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/change_password.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>

<body id="grad">
<div class="wrapper">
    <div id="header" class="text-center" >
        {% load static %} <img src=" {% static "media/logo.png" %}" style="width: 30%; height: 30%"/>
    </div>

    <div id="body" class="container">
        <h1 class="text-center" style="margin-bottom: 1em;">Change Password</h1>
        <form method="post">
            {% csrf_token %}
        <!-- FORM AND STYLING -->
            <div>
                {{ form.as_p }}
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('input[type=password]').addClass('form-control');
                    });
                </script>
            </div>
        <!-- ERROR STYLING -->
            {% if form.old_password.errors %}
                <style>
                    #id_old_password {
                        border: 1px solid red;
                    }
                </style>
            {% endif %}
            {% if form.new_password1.errors %}
                <style>
                    #id_new_password1 {
                        border: 1px solid red;
                    }
                </style>
            {% endif %}
            {% if form.new_password2.errors %}
                <style>
                    #id_new_password2 {
                        border: 1px solid red;
                    }
                </style>
            {% endif %}
        <!-- SUBMIT -->
            <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>

        </form>
    </div>
</div>