.selected {
    background-color: #007bff !important;
    color: white !important;
}

.selected-player {
    background-color: #007bff !important;
    color: white !important;
}

#main {
    padding-top: 1em;
    background-image: linear-gradient(rgba(255,255,255, 0.8), rgba(255,255,255,0) 120%);
    border-radius: 8px;
    margin-bottom: 30px;
}

#team-table td {
    border-top: solid black 1px !important;
}

#admin-heading {
    text-align: center;
    position: relative;
    top: 0;
    right: 0;
    margin-bottom: 0;
}

#link-to-profile {
    position: relative;
    top: 0;
    right: .5em;
}